.techniques {
  width: 80%;
  margin: auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 920px;
  column-gap: 100px;
  justify-content: flex-start;
}
.item {
  width: 240px;
  height: 480px;
  position: relative;
}

.img_cercle {
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  margin: 60px auto;
  display: block;
}
.title_3 {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.description_3 {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
